#bannerMenu img{
    width: 100%;
    margin-bottom: 0.5rem;
}

#containerMenu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerCategoria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
#containerCategoria .boxProduct{
    margin: 0.3rem;
}

.boxProduct{
    width: 35%;
    background-color: white;
}

#containerCategoria img{
    width: 100%;
    opacity: 0.8;
}

#containerCategoria img:hover{
    opacity: 1;
}

.productsName {
    font-size: 0.8rem;
    overflow: hidden;
    width: 100%;
    opacity: 1;
}

.productsName:hover {
    opacity: 0.6; 
}



