#bannerMenu img{
    width: 100%;
    margin-bottom: 0.5rem;
}

#containerMenu{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#containerProductos{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
#containerProductos .boxProduct{
    margin-bottom: 1rem;
}

.boxProduct{
    width: 95%;
    background-color: white;
}

#containerProductos img{
    width: 100%;
}

.productsName {
    font-size: 0.8rem;
    overflow: hidden;
    width: 100%;
}

#containerProductos1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
}

#containerProductos2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
}