#containerPromociones{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bannerPromociones img{
    width: 100%;
}

#containerCupones{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.boxCupon{
    width: 40%;
    margin: 1rem;
}

.boxCupon img{
    width: 100%;
}


#modalTitle{
   font-size: large; 
}

.modal-body h3{
    font-size: 0.9rem;
    margin-bottom: 1rem;
 }

.modal-body ul{
   list-style: none;
   font-size: 0.9rem;
   padding: 0;
   margin-top: 1rem;
}

